[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Icon=nutstore-small
Exec=nutstore-daemon
Name=Nutstore
Name[zh_CN]=坚果云
Comment=AutoStart Nutstore
Comment[zh_CN]=自动启动坚果云
