[Desktop Entry]
Encoding=UTF-8
Name=Frogatto
GenericName=Old-school 2D platformer
Comment=Old-school 2D platformer
Comment[zh_CN]=复古风格的2D横过关游戏
Exec=frogatto
Terminal=false
MultipleArgs=false
Type=Application
Icon=frogatto.png
Categories=Game;ArcadeGame
