[Desktop Entry]
Name=OOPlayer
Comment=An easy to use audio player
Comment[zh_CN]=好用的音频播放器
Icon=ooplayer
Exec=ooplayer
Terminal=false
Type=Application
Categories=AudioVideo;

