[Desktop Entry]
Categories=Qt;AudioVideo;Player;Video;
Comment=A great MPlayer front-end
Comment[es]=A great MPlayer front-end
Comment[hu]=Egy grafikus MPlayer kiegészítés
Comment[it]=Un grande front-end per MPlayer
Comment[ja]=MPlayer フロントエンド
Comment[nl]=Een uitstekend frontend voor MPlayer
Comment[pl]=Świetna nakładka na Mplayer
Comment[ru_RU]=Мощный интерфейс для MPlayer
Comment[uk]=Потужний інтерфейс до MPlayer
Exec=smplayer %f
GenericName=A great MPlayer front-end
GenericName[es]=A great MPlayer front-end
GenericName[hu]=Grafikus felületű MediaPlayer
GenericName[it]=Un grande front-end per MPlayer
GenericName[ja]=MPlayer フロントエンド
GenericName[nl]=Een uitstekend frontend voor MPlayer
GenericName[pl]=Świetna nakładka na Mplayer
GenericName[ru_RU]=Мощный интерфейс для MPlayer
GenericName[uk]=Потужний інтерфейс до MPlayer
Icon=smplayer
MimeType=application/vnd.rn-realmedia;video/avi;video/mp4;video/flv;video/mpeg;video/quicktime;video/vnd.rn-realvideo;video/x-matroska;video/x-ms-asf;video/x-msvideo;video/x-ms-wmv;video/x-ogm;video/x-theora;audio/x-riff;application/x-extension-m2ts;application/x-extension-csf;application/x-linguist
Name=SMPlayer
Name[zh_CN]=SMPlayer 播放器
Type=Application
X-KDE-StartupNotify=false
