[Desktop Entry]
Type=Application
Version=1.0
Name=Sublime Text
Name[zh_CN]=Sublime Text
GenericName=Sublime Text
GenericName[zh_CN]=Sublime Text 编辑器
Comment=sophisticated text editor for code, html and prose.
Comment[zh_CN]=Sublime Text 编辑器
Exec=sublime-text
Icon=sublime-text
Terminal=false
Categories=GTK;Development;
StartupNotify=true
