[Unit]
Description=LXDM
After=syslog.target dbus.target

[Service]
Type=simple
ExecStart=/usr/sbin/lxdm -nodaemon --pidfile /var/run/lxdm.pid
PIDFile=/var/run/lxdm.pid
Restart=always
RestartSec=0

[Install]
Alias=display-manager.service
WantedBy=graphical.target

