[Unit]
Description=KDE Display Manager
After=syslog.target dbus.target 

[Service]
ExecStart=/usr/bin/kdm -nodaemon
#ExecStop=killall lightdm
#Restart=always
#RestartSec=0

[Install]
Alias=display-manager.service
WantedBy=graphical.target

