[Unit]
Description=Pure ftp daemon
After=syslog.target dbus.target

[Service]
Type=simple
ExecStart=/usr/sbin/pure-ftpd --pidfile /var/run/pure-ftpd.pid
PIDFile=/var/run/pure-ftpd.pid

[Install]
WantedBy=multi-user.target
