[Desktop Entry]
Name=Notepad
Name[sv]=Anteckningar
Name[de]=Editor
Name[fi]=Muistio
Name[pl]=Notatnik
Name[ca]=Bloc de notes
Name[zh_CN]=Wine 记事本
Comment=A clone of Windows Notepad
Comment[sv]=En klon av Windows Anteckningar
Comment[de]=Ein Windows Editor Klon
Comment[fi]=Windows Muistio -klooni
Comment[pl]=Klon Notatnika Windows
Comment[ca]=Un clon del Windows Notepad
Comment[zh_CN]=Windows 记事本
Exec=notepad
Terminal=false
Type=Application
Icon=wine-notepad
Categories=Wine-Programs-Accessories;
