[Desktop Entry]
Name=Wine File
Name[fi]=Wine File
Name[ca]=Explorador d'arxius del Wine
Name[zh_CN]=文件管理器
Comment=Wine File Browser
Comment[fi]=Winen tiedostoselain
Comment[ca]=Exploreu les vostres unitats
Comment[zh_CN]=Wine 的文件管理器
NoDisplay=false
Exec=winefile
Terminal=false
Type=Application
Icon=wine
Categories=Wine;
