[Desktop Entry]
Version=1.0
Name=webian shell
Comment=A full screen web browser
GenericName=Web Browser
Exec=webianshell
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=webian-shell
Categories=Application;Internet;Network;WebBrowser;
StartupWMClass=Firefox
StartupNotify=true
