[Desktop Entry]
Name=msc
Name[zh_CN]=米鼠MSN客户端
GenericName=msc
Comment=MSN Messenger client
Exec=msc
Icon=msc
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
