[Desktop Entry]
Name=abuse
Comment=a dark 2D side-scrolling platform game
Comment[zh_CN]=经典的 Crack-Dot-Com 游戏
Exec=abuse
Icon=abuse
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;

