#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Gmail
Name[zh_CN]=Gmail 邮件
Type=Application
Exec=chromium --app="https://mail.google.com/mail"
TryExec=chromium
Icon=gmail-web
Categories=Webapps;
