#!/usr/bin/env xdg-open

[Desktop Entry]
Name=sinawb
Name[zh_CN]=新浪微博(AIR)
Type=Application
Exec=adobe-air /usr/lib/sinaweibo-air/airweibo.air
Icon=sinaweibo-air
Comment[zh_CN]=新浪微博-随时随地分享身边的新鲜事儿
Categories=Network;WebBrowser;
