[Desktop Entry]
Comment[zh_CN]=GTK PPPOE 拨号工具
Comment=ADSL/PPPOE gtk tool
Exec=gksu gkpppoe
Terminal=false
Icon=gkpppoe
Name=ADSL/PPPOE GTK TOOL
Type=Application
Categories=System;
Encoding=UTF-8
