polkit.addRule(function(action, subject) {
    if (subject.isInGroup("wheel") && (
          action.id.indexOf("org.") == 0)) {  
          return polkit.Result.YES;
        }
});
