#!/usr/bin/env xdg-open

[Desktop Entry]
Name=qiyi (AIR)
Name[zh_CN]=奇艺 Flash版
Type=Application
Exec=adobe-air /usr/lib/qiyi-air/qiyi.air
Icon=qiyi-air
Comment[zh_CN]=奇艺-中国第一影视门户
Categories=Application;Player;Video;
