[Desktop Entry]
Name=maniadrive
Comment=an arcade car game on acrobatic tracks
Exec=maniadrive
Icon=maniadrive
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;

