[Desktop Entry]
Name=Chromium (bin)
Name[zh_CN]=Chromium 浏览器
Type=Application
Comment=Open-source version of Google Chrome web browser
Comment[zh_CN]=谷歌浏览器的开源版本
Exec=chromium-browser %U
TryExec=chromium-browser
Icon=chromium-bin
Categories=Network;WebBrowser;
