[Desktop Entry]
Name=Chromium (bin)
Name[zh_CN]=Chromium 浏览器(bin)
Type=Application
Comment=Open-source version of Google Chrome web browser (binary version)
Exec=chromium-bin %U
TryExec=chromium-bin
Icon=chromium-bin
Categories=Network;WebBrowser;
