[Desktop Entry]
Type=Application
Name=radioget
Name[zh_CN]=沙大收音机
Exec=/usr/bin/radioget
GenericName=radioget
GenericName[zh_CN]=沙大收音机
Comment=radioget
Comment[zh_CN]=沙大收音机
MimeTypes=
Icon=radioget.png
Categories=Network
Terminal=false
