[Desktop Entry]
Encoding=UTF-8
Name=Tea
Name[zh_CN]=Tea
Name[zh_TW]=Tea 
Comment=Simple text editor
Exec=tea %f
Icon=tea
Terminal=false
Type=Application
MimeType=text/plain
Categories=Utility;TextEditor;
