[Desktop Entry]
Encoding=UTF-8
Categories=Graphics;
Exec=picasa
Icon=picasa.xpm
StartupNotify=true
Type=Application
Terminal=false
Name=picasa
GenericName=picasa
Comment=Google's photo organizer
