[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=TeamViewer
Name[zh_CN]=TeamViewer 远程访问
Comment=TeamViewer Remote Control Application
Comment[zh_CN]=通过 Internet 进行远程访问和远程支持的一体化解决方案
Exec=teamviewer
Icon=teamviewer
Type=Application
Categories=Network;
#Categories=Network;RemoteAccess;

