[Desktop Entry]
Name[zh_CN]=一键安装打印机驱动
Comment[zh_CN]=一键安装打印机驱动
Name[zh_TW]=安裝印表機驅動
Comment[zh_TW]=安裝印表機驅動
Icon=printer
Terminal=false
Type=Application
Name=Install Printing Drivers
Comment=Install Printing Drivers
Categories=System;Printing;HardwareSettings;
