[Desktop Entry]
Name=visual effect
Name[zh_CN]=简易桌面特效
Comment=visual effect
Comment[zh_CN]=简易桌面特效
Icon=
Exec=xcompmgr -Ss -n -Cc -fF -I-10 -O-10 -D1 -t-3 -l-4 -r4
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
