[Desktop Entry]
Categories=Viewer;Office;GTK;
Comment=Adobe PDF reader 
Comment[ca]=
Comment[es]=
Comment[zh_CN]=Adobe Reader PDF 阅读软件
Exec=/opt/Adobe/Reader8/bin/acroread %f
GenericName=PDF Viewer
GenericName[ca]=Visor PDF
GenericName[es]=Visor PDF
Icon=adobe-reader
Name=Adobe Reader
Name[zh_CN]=adobe reader
Name[ca]=
Name[es]=
MimeType=application/pdf;
Terminal=false
Type=Application
