
[Desktop Entry]
Name=1g1g-air
Name[zh_CN]=1g1g-air 桌面版
Type=Application
Exec=adobe-air /usr/lib/1g1g-air/1g1g.air
Icon=1g1g-air
Comment[zh_CN]=亦歌-在线音乐桌面版(AIR)
Categories=AudioVideo;Player;GTK;
