[Desktop Entry]
Encoding=UTF-8
Name=TeamSpeak 3
GenericName=TeamSpeak
Comment=TeamSpeak is software for quality voice communication via the Internet
Comment[zh_CN]=团队游戏语音工具，声音清晰，自然流畅
Exec=teamspeak3
Icon=teamspeak3
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;Application

