[Unit]
Description=Ylmf OS software center daemon
After=dbus.service

[Service]
Type=dbus
BusName=com.os.ylmf.ypkg
ExecStart=/usr/share/ylmfcenter/PkgDbusDaemon

[Install]
WantedBy=graphical.target
Alias=dbus-com.os.ylmf.ypkg
