[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=whereism13
Comment=A Three Dimensional Galactic Atlas
Exec=java -jar /opt/whereism13/WhereIsM13.jar
Icon=whereism13
Terminal=false
Type=Application
Categories=Education;Science;Astronomy;GTK
