[Unit]
Description=Unload modules from /etc/unload_modules and /etc/modules-unload.d/*.conf
DefaultDependencies=no
Before=shutdown.target

[Service]
ExecStart=/sbin/module-unload-tools

[Install]
WantedBy=shutdown.target
