[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Frozen Bubble
Comment[zh_CN]=一款泡泡龙样式的自由软体游戏
Icon=frozen-bubble
Exec=frozen-bubble
Terminal=false
Categories=Game;
