[Desktop Entry]
Categories=Viewer;Office;GTK;
Comment=
Comment[ca]=
Comment[es]=
Exec=/opt/Adobe/Reader8/bin/acroread %f
GenericName=PDF Viewer
GenericName[ca]=Visor PDF
GenericName[es]=Visor PDF
Icon=adobe-reader
Name=Adobe Reader
Name[ca]=
Name[es]=
MimeType=application/pdf;
Terminal=false
Type=Application
