[Desktop Entry]
Type=Application
Exec=vym
Name=VYM - View Your Mind
Name[zh_CN]=vym
Comment=Create mind maps
Comment[de]=Mindmap erstellen
Comment[fr]=Créez des cartes d'associations d'idées
Comment[it]=Crea mappe mentali
Comment[ca]=Creeu mapes mentals
Comment[es]=Crear mapas mentales
Comment[zh_CN]=思维导图软件
GenericName=Planning Tool
GenericName[de]=Planungswerkzeug
GenericName[fr]=Outil de plannification
GenericName[it]=Strumento di pianificazione
GenericName[ca]=Eina de planificació
GenericName[es]=Herramienta de planificación
Icon=vym
MimeType=application/x-vym;
Categories=Qt;KDE;Education;
