# This service is usually not enabled by default. If enabled, it
# acts as a barrier for basic.target 
#

[Unit]
Description=Xorgfile Check
Before=graphical.target
After=udev.service udev-settle.service

[Service]
Type=oneshot
ExecStart=/usr/bin/xorgconf-check

[Install]
WantedBy=sysinit.target
