[Desktop Entry]
Type=Application
Version=1.0
Name=WebStorm
Name[zh_CN]=WebStorm
GenericName=IDE for JavaScript and front-end Web developers
GenericName[zh_CN]=JavaScript 集成开发工具
Comment=IDE for JavaScript and front-end Web developers
Comment[zh_CN]=JavaScript 集成开发工具
Exec=webstorm %F
Icon=webstorm
Terminal=false
Categories=Development;IDE;
StartupNotify=true
