[Desktop Entry]
Name=Chromium
Type=Application
Comment=Open-source version of Google Chrome web browser
Exec=chromium %U
TryExec=chromium
Icon=chromium-browser
Categories=Network;WebBrowser;
