#!/usr/bin/env xdg-open

[Desktop Entry]
Name=txwb
Name[zh_CN]=腾讯微博
Type=Application
Exec=xdg-open --app="http://t.qq.com"
TryExec=xdg-open
Icon=txwb-web
Comment[zh_CN]=腾讯微博
Categories=Network;
