[Desktop Entry]
Encoding=UTF-8
Categories=Graphics;GTK;2DGraphics;
Exec=gcolor2
Icon=gcolor2.png
StartupNotify=true
Type=Application
Terminal=false
MimeType=
Name=gcolor2
Name[zh_CN]=颜色拾取器
Name[zh_TW]=
GenericName=gcolor2
GenericName[zh_CN]=颜色拾取器
GenericName[zh_TW]=
Comment=View your images easily
Comment[zh_CN]=轻松拾取颜色
Comment[zh_TW]=
