[Desktop Entry]
Version=1.0
Type=Application
Name=TroubledWater
Name[zh_CN]=时空武侠
GenericName=TroubledWater
GenericName[zh_CN]=时空武侠之浩劫
Comment=A fantasy game online
Comment[zh_CN]=武侠风格的网络游戏
Icon=troubledwater
Exec=troubledwater
Categories=Game;

