#!/usr/bin/env xdg-open

[Desktop Entry]
Name=uupoop
Name[zh_CN]=Photoshop 在线精简版
Type=Application
Exec=xdg-open --app="http://uupoop.com/"
TryExec=xdg-open
Icon=uupoop-web
Comment[zh_CN]=Photoshop在线精简版
Categories=Graphics;
