[Desktop Entry]
Type=Application
Version=1.0
Name=PhpStorm
Name[zh_CN]=PhpStorm
GenericName=Integrated Development Environment For PHP
GenericName[zh_CN]=PHP 集成开发工具
Comment=Integrated Development Environment For PHP
Comment[zh_CN]=PHP 集成开发工具
Exec=phpstorm %F
Icon=phpstorm
Terminal=false
Categories=Development;IDE;
StartupNotify=true
