[Unit]
Description=winbind daemon

[Service]
Type=forking
ExecStart=/usr/sbin/winbindd -D
PIDFile=/run/winbindd.pid

[Install]
WantedBy=multi-user.target

