[Desktop Entry]
Version=1.0
Terminal=false
Icon=openofficeorg3-printeradmin
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;
Exec=openoffice.org3-printeradmin
Name=OpenOffice.org 3.2 Printer Administration
Name[en]=OpenOffice.org 3.2 Printer Administration
Name[bo]=OpenOffice.org 3.2 དཔར་འཁོར་དོ་དམ།
Name[ar]=إدارة طابعات OpenOffice.org 3.2
Name[as]=OpenOffice.org 3.2 মুদ্ৰক প্ৰশাসন
Name[ast]=Alministración de la imprentadora de OpenOffice.org 3.2
Name[be_BY]=Кіраванне прынтэрам OpenOffice.org 3.2
Name[bn]=OpenOffice.org 3.2 মুদ্রণযন্ত্র পরিচালনা
Name[ca_XV]=Administració d'impressió de l'OpenOffice.org 3.2
Name[ca]=Administració d'impressió de l'OpenOffice.org 3.2
Name[de]=OpenOffice.org 3.2 Druckerverwaltung
Name[dz]=OpenOffice.org 3.2 དཔར་འཕྲུལ་ བདག་སྐྱོང་།
Name[en_GB]=OpenOffice.org 3.2 Printer Administration
Name[es]=Administración de la impresora de OpenOffice.org 3.2 
Name[fi]=OpenOffice.org 3.2 - Tulostimen hallinta
Name[fr]=Gestion des imprimantes de OpenOffice.org 3.2
Name[gu]=OpenOffice.org 3.2  પ્રિન્ટર સંચાલન
Name[hi]=OpenOffice.org 3.2 मुद्रक प्रशासन
Name[hu]=OpenOffice.org 3.2 Nyomtatókezelés
Name[id]=Administrasi Pencetak OpenOffice.org 3.2
Name[is]=OpenOffice.org 3.2 prentarastjórnun
Name[it]=OpenOffice.org 3.2 Gestione stampanti
Name[ja]=OpenOffice.org 3.2 プリンタの管理
Name[ka]=OpenOffice.org 3.2 პრინტერის ადმინისტრაცია
Name[kn]=OpenOffice.org 3.2 ಮುದ್ರಕ ನಿರ್ವಹಣೆ
Name[ko]=OpenOffice.org 3.2 프린터 관리
Name[ku]=OpenOffice.org 3.2 Rêvebiriya Çapgerê
Name[lt]=„OpenOffice.org 3.2“ spausdintuvo tvarkymas
Name[lv]=OpenOffice.org 3.2 Printera administrēšana
Name[ml]=OpenOffice.org 3.2 പ്രിന്റര്‍ അഡ്മിനിസ്ട്രേഷന്‍
Name[mr]=OpenOffice.org 3.2 मुद्रक प्रशासन
Name[my]=OpenOffice.org 3.2 ပရင်တာ စီမံခန့်ခွဲမှု
Name[nl]=OpenOffice.org 3.2-printerbeheer
Name[oc]=Gestion de las estampadoiras de OpenOffice.org 3.2
Name[om]=Bulchiinsa Maxxansaa OpenOffice.org 3.2
Name[or]=OpenOffice.org 3.2 ପ୍ରିଣ୍ଟର ପ୍ରଶାସନ
Name[pl]=OpenOffice.org 3.2 - Zarządzanie drukarką
Name[pt_BR]=Administrador de impressoras do OpenOffice.org 3.2
Name[pt]=OpenOffice.org 3.2 - Administração de impressoras
Name[ru]=OpenOffice.org 3.2 Управление принтером
Name[si]=OpenOffice.org 3.2 මුද්‍රණ පරිපාලක
Name[sl]=Nastavitve tiskalnika OpenOffice.org 3.2
Name[sq]=OpenOffice.org 3.2 Administrim i shtypësit
Name[sv]=OpenOffice.org 3.2 skrivaradministration
Name[ta]=OpenOffice.org 3.2 அச்சுப்பொறி நிர்வாகம்
Name[te]=ముద్రణా యంత్రం యోక్క OpenOffice.org 3.2 నిర్వహించు.
Name[th]=ตัวบริหารจัดการเครื่องพิมพ์ OpenOffice.org 3.2 
Name[tn]=OpenOffice.org 3.2 Printer Administration
Name[tr]=OpenOffice.org 3.2 Yazıcı Yönetimi
Name[ug]=OpenOffice.org 3.2 پرىنتېر باشقۇرۇش
Name[uk]=Налаштування принтера OpenOffice.org 3.2
Name[uz]=OpenOffice.org 3.2 printerni boshqarish
Name[vi]=Quản trị máy in OpenOffice.org 3.2
Name[zh_CN]=OpenOffice.org 3.2 打印机管理
Name[zh_TW]=OpenOffice.org 3.2 印表機管理
Name[af]=OpenOffice.org 3.2-drukkeradministrasie
Name[brx]=OpenOffice.org 3.2 साफायग्रा खुंथाय
Name[bs]=OpenOffice.org 3.2 administracija štampača
Name[cy]=Gweinyddu Argraffu OpenOffice.org 3.2
Name[dgo]=OpenOffice.org 3.2 छापक  प्रशासन
Name[en_ZA]=OpenOffice.org 3.2 Printer Administration
Name[fa]=مدیریت چاپگر OpenOffice.org 3.2
Name[kk]=OpenOffice.org 3.2 Баспаны басқару
Name[kok]=OpenOffice.org 3.2 मुद्रक प्रशासन
Name[mai]=OpenOffice.org 3.2 मुद्रक प्रशासन
Name[mni]=OpenOffice.org 3.2 প্রিন্তরগী ৱায়েন থৌদা
Name[nr]=OpenOffice.org 3.2 Ukuphathwa Kwesigadangisi
Name[ns]=OpenOffice.org 3.2 Taolo ya Segatiši
Name[sat]=OpenOffice.org 3.2 छापा सासोनिक्
Name[sd]=OpenOffice.org 3.2  پرنٽر جو انتظام 
Name[ss]=OpenOffice.org 3.2 kuphatfwa kwephrinta
Name[st]=Taolo ya Sehatisi ya OpenOffice.org 3.2
Name[sw_TZ]=OpenOffice.org 3.2 Utawala wa Printa
Name[tg]=Идоракунии чопкунаки OpenOffice.org 3.2
Name[ts]=Vukongomisi bya Printa OpenOffice.org 3.2
Name[ve]=Mulanguli wa Phirinthara wa OpenOffice.org 3.2
Name[xh]=Ulawulo Lwesishicileli lwe-OpenOffice.org 3.2
Name[zu]=OpenOffice.org 3.2 Ukuphathwa komshicileli
Name[bg]=Администриране на принтера за OpenOffice.org 3.2
Name[br]=Ardoadur moullerezed OpenOffice.org 3.2
Name[cs]=Administrace tiskáren OpenOffice.org 3.2
Name[da]=OpenOffice.org 3.2-printeradministration
Name[eo]=OpenOffice.org 3.2 presila administrado
Name[eu]=OpenOffice.org 3.2 inprimagailu-administrazioa
Name[hr]=OpenOffice.org 3.2 aAdministracija pisača
Name[mk]=Администрирање на печатачи во OpenOffice.org 3.2
Name[mn]=OpenOffice.org 3.2 Хэвлэгчийн удирдлага
Name[ne]=OpenOffice.org 3.2 मुद्रक प्रशासन
Name[rw]=Ubugenzuzi bwa Mucapyi OpenOffice.org 3.2
Name[sa_IN]=OpenOffice.org 3.2 मुद्रकप्रशासनम्
Name[sk]=Správa tlačiarní OpenOffice.org 3.2
Name[sh]=OpenOffice.org 3.2 podešavanje štampača
Name[sr]=OpenOffice.org 3.2 подешавање штампача
Name[km]=ការ​គ្រប់គ្រង​ម៉ាស៊ីន​បោះពុម្ព​ OpenOffice.org 3.2
Name[ga]=Riarachán na bPrintéirí OpenOffice.org 3.2
Name[et]=OpenOffice.org 3.2-i printerite haldamine
Name[he]=ניהול מדפסות ‏‪OpenOffice.org 3.2‬‏‏
Name[nb]=OpenOffice.org 3.2-skriveradministrasjon
Name[nn]=OpenOffice.org 3.2-skrivaradministrasjon
Name[gl]=Administración da impresora de OpenOffice.org 3.2
Name[ro]=Administrare imprimantă OpenOffice.org 3.2
Name[el]=Διαχείριση εκτυπωτή OpenOffice.org 3.2
