[Desktop Entry]
Name=Yunio 云诺
Name[zh_CN]=Yunio 云诺文件同步
Comment=Yunio Cloud Storage
Comment[zh_CN]=最方便的文件同步和文件分享。
Exec=yunio
Icon=yunio
Terminal=0
Type=Application
Categories=Application;Network;

