[Desktop Entry]
Version=1.0
Type=Application
Icon=teeworlds
Exec=teeworlds
Terminal=false
StartupNotify=false
Name=TeeWorlds
GenericName=Arcade Game
Comment=a multiplayer 2D FPS shooter
Comment[zh_CN]=多人2D射击游戏
Comment[pl_PL]=wieloosobowa strzelanka FTP w 2D
Categories=Game;ArcadeGame;
