[Desktop Entry]
Version=1.0
Name=Thunderbird
Name[zh_CN]=Thunderbird 邮件客户端
Comment=Thunderbird mail client
Comment[zh_CN]=雷鸟邮件客户端
GenericName=Thunderbird
Exec=thunderbird
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Application;Internet;Network;
MimeType=
StartupNotify=true
