[Desktop Entry]
Name=Speed Dreams
Comment=The Open Racing Car Simulator Fork
Comment[zh_CN]=速度之梦 - 赛车游戏
Exec=speed-dreams-2
Icon=speed-dreams.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;
