[Desktop Entry]
Type=Application
Name=shadaradio
Name[zh_CN]=沙大收音机
Exec=/usr/bin/shadaradio
GenericName=shadaradio
GenericName[zh_CN]=沙大收音机
Comment=radioget
Comment[zh_CN]=沙大收音机
MimeTypes=
Icon=shadaradio.png
Categories=Web
Terminal=false
