[Desktop Entry]
Name=QSanguosha
Name[zh_CN]=太阳神三国杀
Name[zh_HK]=太陽神三國殺
Name[zh_TW]=太陽神三國殺
Comment=Sanguosha online
Comment[zh_CN]=三国杀在线游戏
Comment[zh_HK]=三國殺在線游戲
Comment[zh_TW]=三國殺在線游戲
Icon=qsanguosha
Exec=qsanguosha
Terminal=false
Type=Application
Categories=Game;
StartupNotify=true
