#!/usr/bin/env xdg-open

[Desktop Entry]
Name=webqq
Name[zh_CN]=网页QQ
Type=Application
Exec=chromium --app="http://web2.qq.com/"
TryExec=chromium
Icon=webqq-web
Comment[zh_CN]=腾讯WebQQ
Categories=Webapps;
