#!/usr/bin/env xdg-open

[Desktop Entry]
Name=webqq
Name[zh_CN]=网页QQ
Name[zh_TW]=網頁QQ
Type=Application
Exec=xdg-open --app="http://web2.qq.com/"
TryExec=xdg-open
Icon=webqq-web
Comment=WebQQ
Comment[zh_CN]=腾讯WebQQ
Comment[zh_TW]=騰訊網頁 QQ 聊天工具
Categories=Webapps;
