#!/usr/bin/env xdg-open

[Desktop Entry]
Name=115u-web
Name[zh_CN]=我的网盘
Name[zh_TW]=我的網盤
Type=Application
Exec=xdg-open --app="http://115.com/"
TryExec=xdg-open
Icon=115u-web
Comment=115 online drive
Comment[zh_CN]=115网络U盘-我的网盘|免费网络硬盘
Comment[zh_TW]=115網絡U盤-我的網盤|免費網絡硬盤
Categories=Webapps;
