[Unit]
Description=LiveCD installer
Requires=dbus.service
After=dbus.service
Before=display-manager.service
Conflicts=display-manager.service 

[Service]
ExecStart=/etc/init.d/osinstaller start

[Install]
WantedBy=multi-user.target

