[Unit]
Description=Hardware Abstraction Layer Daemon
After=gdm.service

[Service]
Type=dbus
BusName=org.freedesktop.Hal
ExecStart=/usr/sbin/hald --use-syslog --daemon=no

[Install]
WantedBy=graphical.target
