
[Desktop Entry]
Name=1g1g
Name[zh_CN]=亦歌-在线音乐
Name[zh_TW]=亦歌-在綫音樂
Type=Application
Exec=xdg-open --app="http://www.1g1g.com/"
TryExec=xdg-open
Icon=1g1g-web
Comment=music online
Comment[zh_CN]=亦歌-在线音乐
Comment[zh_TW]=亦歌-在綫音樂
Categories=AudioVideo;
