[Desktop Entry]
Name=WoP
Type=Application
GenericName=worldofpadman
Exec=wop
Path=/usr/share/worldofpadman
Icon=worldofpadman
StartupNotify=true
Categories=Game;Arcade;

