[Desktop Entry]
Type=Application
Name=Zotero
Name[zh_CN]=Zotero 文献管理
Name[zh_TW]=Zotero 文獻管理
GenericName=Bibliography Manager
Icon=zotero
Exec=zotero %f
Categories=Office;
Terminal=false
