[Desktop Entry]
Version=1.0
Name=Thunderbird (bin)
Name[zh_CN]=Thunderbird (bin) 邮件客户端
Comment=
GenericName=Thunderbird
Exec=thunderbird-bin
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Application;Internet;Network;
MimeType=
StartupNotify=true
