[Unit]
Description=LightDM
After=syslog.target dbus.target 

[Service]
Type=simple
ExecStart=/usr/sbin/lightdm-wrapper --pid-file=/run/lightdm.pid
#ExecStop=killall lightdm
PIDFile=/run/lightdm.pid
Restart=on-failure
RestartSec=1s

[Install]
Alias=display-manager.service
WantedBy=graphical.target

