[Desktop Entry]
Type=Application
Version=1.0
Name=wxGlade
GenericName=wxGlade
Comment=Glade-like GUI designer which can generate Python, Perl, C++ or XRC code
Exec=wxglade
Icon=wxglade
Terminal=false
Categories=Development;GUIDesigner;
StartupNotify=true
