
[Desktop Entry]
Name=1g1g
Name[zh_CN]=亦歌-在线音乐
Type=Application
Exec=chromium --app="http://www.1g1g.com/"
TryExec=chromium
Icon=1g1g-web
Comment[zh_CN]=亦歌-在线音乐
Categories=Webapps;
