[Desktop Entry]
Type=Application
Version=1.0
Name=pycharm
Name[zh_CN]=pycharm
GenericName=Lightweight IDE for Python programming language 
GenericName[zh_CN]=Python 集成开发工具
Comment=Lightweight IDE for Python programming language
Comment[zh_CN]=Python 集成开发工具
Exec=pycharm %F
Icon=pycharm
Terminal=false
Categories=Development;IDE;
StartupNotify=true
