[Desktop Entry]
Encoding=UTF-8
Name=yong Preferences
Name[zh_CN]=小小输入法
Comment[zh_CN]=小小输入法,很好用的中文输入法
Exec=yong-config
Icon=yong
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
