[Unit]
Description=Likewise Open Services

[Service]
Type=forking
ExecStartPre=/etc/init.d/lwsmd start
ExecStart=/etc/init.d/likewise start
ExecStop=/etc/init.d/lwsmd stop
ExecStopPost=/etc/init.d/likewise stop

[Install]
WantedBy=multi-user.target

